.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

center {
	text-align: center;
}

@mixin flexStyle($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
