.section2 {
	padding: 0 10vw;
}

.section2__cards-container {
	margin-top: 60px;
	@include flexStyle(row, center, center);
	gap: 60px;
	max-width: 1400px;

	.card {
		@include flexStyle(column, space-between, center);
		height: 220px;
	}

	.card-img {
		height: 120px;
		&:hover {
			transform: scaleX(-1) rotate(180deg);
			transition: 1s;
		}
	}

	.card-title {
		color: $purple;
		font-weight: 500;
		font-size: 18px;
	}

	.card-text {
		font-weight: 400;
		max-width: 250px;
	}
}
