$font-stack: 'Heebo', sans-serif;

$white: #ffffff;
$light-grey: #f9f7fa;
$grey: #acacb3;
$darker-grey: #797980;
$darkest-grey: #00000012;
$light-orange: #ffc0cb;
$pink: #e858ae;
$darker-pink: #ea0599;
$purple: #9c0ca1;
$section-title-color: #9a0f98;
$dark-red: #9c0ca1;
$dark-purple: #39065a;
$light-blue: #20e9f8;
$green: #4caf50;
